{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "sort-imports": [
      "warn",
      {
        "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
      }
    ],
    "array-callback-return": "error",
    "eqeqeq": "error"
  }
}
